{{#coins}}
<div class="coin-row">
    <strong>{{title}}</strong>
    <span>{{country}}</span>
    <span>{{year}}</span>
    <span>{{metal}}</span>
    <span>{{quantity}}x</span>
    <span>{{purchase_price}} {{purchase_currency}}</span>
    <span>{{dealer}}</span>

    {{#mint_mark}}<span>{{mint_mark}}</span>{{/mint_mark}}
    {{#grade}}<span>{{grade}}</span>{{/grade}}
    {{#fineness}}<span>{{fineness}}</span>{{/fineness}}
    {{#total_weight_g}}<span>{{total_weight_g}}</span>{{/total_weight_g}}
    {{#location}}<span>{{location}}</span>{{/location}}
</div>
{{/coins}}

{{^coins}}
<p>No coins found.</p>
{{/coins}}